%[shared/server.yml]

inMemoryGraph: false
graphDBConfig:
  graphName: databases/all.db
  neo4jPagecacheMemory: 1500m
  memoryTransactionGlobalMaxSize: 650m

cacheFolder: data/cacheAll
calcTimeoutMillis: 3500

gtfsSourceConfig:
  -
    name: tfgm
    hasFeedInfo: false
    transportModes: [ tram, bus ]
    transportModesWithPlatforms: [ Tram ]
    noServices: []
    additionalInterchanges: [9400ZZMAGMX, 9400ZZMAPIC]
    groupedStationModes: [ Bus ]
    stationClosures: []
    addWalksForClosed: true
    markedInterchangesOnly: false
    initialWaitMinutes: 13
    temporaryStationsWalks: []
rail:
  dataPath: data/openRailData
  modes: [ Train, RailReplacementBus ]
  initialWaitMinutes: 60
remoteSources:
  - name: tfgm
    dataURL: ${TRAM_DATAURL:- http://odata.tfgm.com/opendata/downloads/TfGMgtfsnew.zip}
    dataCheckURL: http://odata.tfgm.com/opendata/downloads/TfGMgtfsnew.zip
    dataPath: data/bus
    downloadPath: data/bus
    filename: tfgm_data.zip
    defaultExpiryDays: 1
  - name: openRailData
    dataURL: https://opendata.nationalrail.co.uk/api/staticfeeds/3.0/timetable
    dataCheckURL: https://opendata.nationalrail.co.uk/api/staticfeeds/3.0/timetable
    dataPath: data/openRailData
    downloadPath: data/openRailData
    filename: rail_data.zip
    defaultExpiryDays: 6
    checkOnlyIfExpired: true
  - name: naptanxml
    dataURL: ${NAPTAN_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/NaPTAN.xml.zip}
    dataCheckURL: ""
    dataPath: data/naptan
    downloadPath:  data/naptan
    filename: ${NAPTAN_FILE:- NaPTAN.xml.zip}
    defaultExpiryDays: 14
  - name: nptg
    dataURL: ${NPTG_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/Localities.csv.zip}
    dataCheckURL: ""
    dataPath: data/nptg
    downloadPath: data/nptg
    filename: ${NPTG_FILE:- Localities.csv.zip}
    defaultExpiryDays: 14

bounds:
  minEastings: 333211
  minNorthings: 373264
  maxEasting: 414492
  maxNorthings: 437779
neighbourConfig:
  distanceToNeighboursKM: 0.2
  maxNeighbourConnections: 3
planningEnabled: true
maxWait: 35
numberQueries: 3
queryInterval: 20
depthFirst: true
maxWalkingConnections: 3
maxNumberResults: 5
maxJourneyDuration: 800
nearestStopRangeKM: 1
nearestStopForWalkingRangeKM: 1
numOfNearestStopsToOffer: 5
numOfNearestStopsForWalking: 50
walkingMPH: 3.0
recentStopsToShow: 5
dataExpiryThreshold: 3
changeAtInterchangeOnly: true

%[shared/infra.yml]

logging:
  level: INFO

  appenders:
    - type: console
      threshold: WARN
    - type: file
      currentLogFilename: logs/tramchester_all.log
      threshold: INFO
      archive: true
      archivedLogFilenamePattern: logs/tramchester_all-%d.log
      archivedFileCount: 5
      timeZone: UTC
