%[shared/server.yml]

inMemoryGraph: false
graphDBConfig:
  graphName: ''
  neo4jPagecacheMemory: 0m
  memoryTransactionGlobalMaxSize: 0m

cacheFolder: data/cacheFrequency
dataExpiryThreshold: 3

gtfsSourceConfig:
  -
    name: tfgm
    hasFeedInfo: true
    transportModes: [ tram, bus ]
    transportModesWithPlatforms: []
    noServices: []
    additionalInterchanges: []
    groupedStationModes: [ Bus ]
    stationClosures: []
    addWalksForClosed: true
    markedInterchangesOnly: false
    initialWaitMinutes: 13
    temporaryStationsWalks: []
rail:
  dataPath: data/openRailData
  modes: [ Train, RailReplacementBus ]
  initialWaitMinutes: 60
remoteSources:
  - name: tfgm
    dataURL: ${TRAM_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/tfgm_data.zip}
    dataCheckURL: https://odata.tfgm.com/opendata/downloads/TfGMgtfsnew.zip
    dataPath: data/tram
    downloadPath: data/tram
    filename: tfgm_data.zip
    defaultExpiryDays: 1
  - name: openRailData
    dataURL: https://opendata.nationalrail.co.uk/api/staticfeeds/3.0/timetable
    dataCheckURL: https://opendata.nationalrail.co.uk/api/staticfeeds/3.0/timetable
    dataPath: data/openRailData
    downloadPath: data/openRailData
    filename: rail_data.zip
    defaultExpiryDays: 6
    checkOnlyIfExpired: true
  - name: naptanxml
    dataURL: ${NAPTAN_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/NaPTAN.xml.zip}
    dataCheckURL: ""
    dataPath: data/naptan
    downloadPath:  data/naptan
    filename: ${NAPTAN_FILE:- NaPTAN.xml.zip}
    defaultExpiryDays: 14
  - name: nptg
    dataURL: ${NPTG_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/Localities.csv.zip}
    dataCheckURL: ""
    dataPath: data/nptg
    downloadPath: data/nptg
    filename: ${NPTG_FILE:- Localities.csv.zip}
    defaultExpiryDays: 14

calcTimeoutMillis: 3500

bounds:
  minEastings: 333200
  minNorthings: 373250
  maxEasting: 414500
  maxNorthings: 437850
planningEnabled: false

maxWait: 35
depthFirst: true
numberQueries: 3
queryInterval: 20
maxNumberResults: 5
maxWalkingConnections: 3
maxJourneyDuration: 180
nearestStopRangeKM: 1.0
nearestStopForWalkingRangeKM: 0.5
numOfNearestStopsToOffer: 5
numOfNearestStopsForWalking: 50
walkingMPH: 3.0
recentStopsToShow: 5
changeAtInterchangeOnly: true

%[shared/infra.yml]

logging:
  level: INFO

  appenders:
    - type: console
      threshold: WARN
    - type: file
      currentLogFilename: logs/tramchester_frequency.log
      threshold: INFO
      archive: true
      archivedLogFilenamePattern: logs/tramchester_frequency-%d.log
      archivedFileCount: 5
      timeZone: UTC
