%[shared/server.yml]

inMemoryGraph: false

cacheFolder: data/cache/gm
dataExpiryThreshold: 3

graphDBConfig:
  graphName: databases/gm_rail.db
  neo4jPagecacheMemory: 1000m
  memoryTransactionGlobalMaxSize: 650m

gtfsSourceConfig:
  - name: tfgm
    hasFeedInfo: false
    transportModes: [ tram ]
    transportModesWithPlatforms: [ Tram ]
    initialWaitMinutes: 13
    noServices: []
    markedInterchangesOnly: false
    additionalInterchanges: []
    groupedStationModes: []
    addWalksForClosed: true
    stationClosures: []
    temporaryStationsWalks: []
rail:
  dataPath: data/openRailData
  modes: [ Train, RailReplacementBus ]
  initialWaitMinutes: 60
remoteSources:
  - name: openRailData
    dataURL: ${RAIL_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/rail_data.zip}
    dataCheckURL: https://opendata.nationalrail.co.uk/api/staticfeeds/3.0/timetable
    dataPath: data/openRailData
    downloadPath: data/openRailData
    filename: rail_data.zip
    defaultExpiryDays: 6
    checkOnlyIfExpired: true
  - name: tfgm
    dataURL: ${TRAM_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/tfgm_data.zip}
    dataCheckURL: https://odata.tfgm.com/opendata/downloads/TfGMgtfsnew.zip
    dataPath: data/tram/TfGMgtfs
    downloadPath: data/tram
    filename: tfgm_data.zip
    defaultExpiryDays: 1
  - name: naptanxml
    dataURL: ${NAPTAN_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/NaPTAN.xml.zip}
    dataCheckURL: ""
    dataPath: data/naptan
    downloadPath:  data/naptan
    filename: ${NAPTAN_FILE:- NaPTAN.xml.zip}
    defaultExpiryDays: 14
  - name: nptg
    dataURL: ${NPTG_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/Localities.csv.zip}
    dataCheckURL: ""
    dataPath: data/nptg
    downloadPath: data/nptg
    filename: ${NPTG_FILE:- Localities.csv.zip}
    defaultExpiryDays: 14
#  - name: database
#    dataURL: s3://tramchesternewdist/dist/${RELEASE_NUMBER}/database.zip
#    dataCheckURL: s3://tramchesternewdist/dist/${RELEASE_NUMBER}/database.zip
#    dataPath: databases
#    downloadPath: databases
#    filename: database.zip
#    defaultExpiryDays: 0
#    modTimeCheckFilename: gm_rail.db
#    mandatory: false
#    skipUpload: false

%[shared/tfgm_live_data.yml]

openLdb:
  accessToken: ${OPENLDB_APIKEY:- ""}
  wsdlLocation: ${RAIL_WSDL:- "config/OpenLDBWS.wsdl"}
calcTimeoutMillis: 3500
bounds:
  minEastings: 370000
  minNorthings: 380000
  maxEasting: 404903
  maxNorthings: 414500
neighbourConfig:
  maxNeighbourConnections: 3
  distanceToNeighboursKM: 0.2
  additional:
    - first: "9400ZZMAEDY"
      second: "EDIDBRY"
    - first: "9400ZZMAECC"
      second: "ECCLES"
    - first: "9400ZZMAAUL"
      second: "ASHONUL"

planningEnabled: true
maxWait: 25
numberQueries: 3
queryInterval: 10
maxNumberResults: 5
maxWalkingConnections: 3
depthFirst: true
maxJourneyDuration: 155
nearestStopRangeKM: 1.6
nearestStopForWalkingRangeKM: 1.6
numOfNearestStopsToOffer: 5
numOfNearestStopsForWalking: 3
walkingMPH: 3.0
recentStopsToShow: 5
changeAtInterchangeOnly: true

%[shared/infra.yml]

logging:
  level: INFO

  appenders:
    - type: console
      threshold: WARN
    - type: file
      currentLogFilename: logs/tramchester_gm.log
      threshold: INFO
      archive: true
      archivedLogFilenamePattern: logs/tramchester_gm_%i.log
      archivedFileCount: 5
      timeZone: UTC
      maxFileSize: 50MB
