%[shared/server.yml]

%[shared/infra.yml]

cacheFolder: data/cache/rail
calcTimeoutMillis: 3500

inMemoryGraph: false
graphDBConfig:
  graphName: databases/naional_rail.db
  neo4jPagecacheMemory: 1000m
  memoryTransactionGlobalMaxSize: 650m
  enableDiagnostics: ${ENABLE_DB_DIAG:- false }

gtfsSourceConfig: []
rail:
  dataPath: data/openRailData
  modes: [ Train, RailReplacementBus ]
  initialWaitMinutes: 60
openRailData:
  username: ${OPENRAILDATA_USERNAME:- ""}
  password: ${OPENRAILDATA_PASSWORD:- ""}
  authURL: https://opendata.nationalrail.co.uk/authenticate

remoteSources:
  - name: openRailData
    dataURL: ${RAIL_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/rail_data.zip}
    dataCheckURL: https://opendata.nationalrail.co.uk/api/staticfeeds/3.0/timetable
    dataPath: data/openRailData
    downloadPath: data/openRailData
    filename: rail_data.zip
    defaultExpiryDays: 6
    checkOnlyIfExpired: true
  - name: naptanxml
    dataURL: ${NAPTAN_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/NaPTAN.xml.zip}
    dataCheckURL: ""
    dataPath: data/naptan
    downloadPath:  data/naptan
    filename: ${NAPTAN_FILE:- NaPTAN.xml.zip}
    defaultExpiryDays: 14
  - name: nptg
    dataURL: ${NPTG_DATAURL:- s3://tramchesternewdist/dist/${RELEASE_NUMBER}/Localities.csv.zip}
    dataCheckURL: ""
    dataPath: data/nptg
    downloadPath: data/nptg
    filename: ${NPTG_FILE:- Localities.csv.zip}
    defaultExpiryDays: 14
openLdb:
  accessToken: ${OPENLDB_APIKEY:- ""}
  wsdlLocation: ${RAIL_WSDL:- "config/OpenLDBWS.wsdl"}

bounds:
  minEastings: 147588
  minNorthings: 30599
  maxEasting: 654747
  maxNorthings: 967921

planningEnabled: true
maxWait: 30
numberQueries: 3
queryInterval: 20
depthFirst: true
maxNumberResults: 5
maxWalkingConnections: 3
maxJourneyDuration: 820
nearestStopRangeKM: 1.6
nearestStopForWalkingRangeKM: 1.6
numOfNearestStopsToOffer: 5
numOfNearestStopsForWalking: 3
walkingMPH: 3.0
recentStopsToShow: 5
dataExpiryThreshold: 3
changeAtInterchangeOnly: true

logging:
  level: INFO

  appenders:
    - type: console
      threshold: WARN
    - type: file
      currentLogFilename: logs/tramchester_rail.log
      threshold: INFO
      archive: true
      archivedLogFilenamePattern: logs/tramchester_rail-%d.log
      archivedFileCount: 5
      timeZone: UTC
