<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calling Frequencies</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

    <body>
        <h1 class="tramchesterHeading">Experimental Stop Freqency Map</h1>
        <div id="frequencymap" class="tramchesterApp">
            <v-app>
                <v-main>
                    <v-container id="startAndEnd">
                        <v-row>
                            <v-col>
                                <div id="leafletMap"></div>  
                            </v-col>          
                            <v-col>
                                <div class="mb-2"><div>Hours: {{ hours[0] }} to {{ hours[1] }}</div>
                                <v-range-slider v-model="hours" :min="0" :max="24" strict></v-range-slider>
                                <input type="date" id="date" v-model="date" 
                                        label-calendar="TravelDateCalendar" required></input>
                                <v-btn color="secondary" small id="todayButton" @click="dateToNow()">Today</v-btn>
                                <v-btn color="primary" small id="drawMap" @click="draw()">Draw</v-btn>  
                            </v-col>
                        </v-row>
                    </v-container>
                </v-main>
            </v-app>

   
        </div>

        <script src="/app/frequency.js"></script>

    </body>
</html>