<!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <title>Tramchester</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div id="journeyplan">
    <app-header header="Tramchester"></app-header>
    <v-app>
        <v-main>
            <v-container id="startAndEnd" class="ml-2">
                <form @submit="plan" class="tramchesterApp">
                    <v-row >
                        <v-col class="pl-0">
                            <div id="selectStart">
                                <location-selection :disabled='!ready' :name="'start'" v-model="startStop" :other="endStop" :modes="selectedModes"
                                    :geo="havePos" :stops="stops">
                                </location-selection>
                            </div>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col class="pl-0">
                            <div id="selectEnd">
                                <location-selection :disabled='!ready' :name="'destination'" v-model="endStop"  :other="startStop" :modes="selectedModes"
                                :geo="havePos" :stops="stops" >
                            </location-selection>
                            </div>
                        </v-col>
                        <v-col >
                            <v-btn @click="swap" outlined>&#8645;</v-btn>
                        </v-col>
                        <v-spacer></v-spacer>
                    </v-row>
                    <v-row>
                        <v-col class="pl-0">    
                            <div>
                                <input type="time" id="time" v-model="time" class="pr-2"/>
                                <input type="checkbox" id="arriveBy" v-model="arriveBy" class="pl-2">
                                <label for="arriveBy" class="pl-1">arrive</label>
                            </div> 
                        </v-col>
                        <v-col>
                            <v-btn id="nowButton" color="secondary" small @click="timeToNow()">Now</v-btn>
                        </v-col>
                        <v-spacer></v-spacer>
                    </v-row>
                    <v-row>
                        <v-col class="pl-0">
                            <input type="date" id="date" v-model="date"/>
                        </v-col>
                        <v-col>
                            <v-btn id="todayButton" small color="secondary" @click="dateToNow()">Today</v-btn>
                            <input type="hidden" id="hiddendate" v-model="date"></input>
                        </v-col>
                        <v-spacer></v-spacer>
                    </v-row>
                    <v-row v-if="selectModesEnabled">
                        <v-col class="pl-0">
                            <v-select v-model="selectedModes" :items="modes" multiple density="compact">
                            </v-select>
                        </v-col>
                        <v-col>
                            <label for="maxChanges">max changes:</label>
                            <input type="number" name="max changes" min="1" max="8" id="maxChanges" v-model="maxChanges"> 
                        </v-col>
                        <v-spacer></v-spacer>
                    </v-row>
                    <v-row>
                        <v-col class="pl-0">
                            <v-btn :disabled='!ready' id="plan" type="submit" color="primary" class="me-2">
                                Plan
                                <v-progress-circular
                                    v-if="searchInProgress"
                                    id="spinner"
                                    indeterminate
                                    color="primary"
                                    ></v-progress-circular>
                            </v-btn>
                            <v-btn :disabled='!havePos' id="liveTrams" v-if="havePos" color="primary" @click="queryNearbyTrams">
                                Nearby
                                <v-progress-circular
                                    v-if="liveInProgress"
                                    id="nearbySpinner"
                                    indeterminate
                                    color="primary"
                                    ></v-progress-circular>
                            </v-btn>
                        </v-col>
                        <v-spacer></v-spacer>
                    </v-row>
                </form>

                <v-card id="networkError" selectable v-if="networkError" class="mt-2 ml-0 mr-0">
                    <v-card-title>Network Error</v-card-title>
                    <v-card-text>
                        Unable to commmunicate with server, please check your network connection and try again
                    </v-card-text>
                </v-card>

                <div id="outputs" class="ml-0 mr-0">
                    <notes :receivednotes="notes"></notes>
                    <closures></closures>
                    <live-departures :livedataresponse="liveDepartureResponse"></live-departures>
                    <journeys :journeysresponse="journeys" :numjourneystodisplay="numberJourneysToDisplay" 
                        v-on:earlier-tram="changeTime" v-on:later-tram="changeTime"></journeys>
                </div>

            </v-container>

        </v-main>

        <v-footer>
            <app-footer v-bind:feedinfo="feedinfo" v-on:disclaimer-clicked="showDisclaimer" v-bind:havepos="havePos" 
                v-on:network-error="networkErrorOccured()"></app-footer>
        </v-footer>

    </v-app>

</div> <!-- end of app -->

<script src="/app/main.js"></script>

</body>

</html>
