server:
  applicationContextPath: /
  rootPath: /api/*
  applicationConnectors:
    - type: http
      port: 8080
  adminContextPath: /admin
  adminConnectors:
    - type: http
      port: 8081
  gzip:
    enabled: true
    bufferSize: 8KiB
    minimumEntitySize: 160B
    syncFlush: true
    excludedPaths: [ "/api/grid/chunked" ]
secureHost: tramchester.com
redirectToSecure: true
staticAssetCacheTimeSeconds: 300

swagger:
  resourcePackage: com.tramchester.resources
  title: tramchester